// src/styles/variables.module.scss
// SCSS 全局变量在 TypeScript 不生效的，需要创建一个以 .module.scss 结尾的文件
// 导出 variables.scss 文件的变量
:export {
  sidebar-width: $sidebar-width;
  navbar-height: $navbar-height;
  tags-view-height: $tags-view-height;
  menu-background: $menu-background;
  menu-text: $menu-text;
  menu-active-text: $menu-active-text;
  menu-hover: $menu-hover;
}
